/* Base styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

/* Navbar styles */
.navbar {
    background-color: #f8f8f8;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
}

/* Profile container styles */
.profile-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}


.about-me {
    padding: 20px; /* Add padding around the text */
}

.about-me p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-align: justify; 
}


/* Download button styles */
.download-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .navbar a {
        padding: 10px 12px; /* Smaller padding for smaller screens */
    }

    .profile-container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align items for better aesthetics */
    }

    .about-me p {
        text-align: center; /* Center text for better readability on small devices */
    }

    .download-button {
        width: 100%; 
}

@media (max-width: 480px) {
    .navbar a {
      
        display: block;
        text-align: center;
    }
}
}

/* Base Styles for Social Links */
.social-links {
    text-align: center; /* Center-aligns the icons */
    padding: 20px 0; /* Adds some vertical padding for better spacing */
    margin-top: 20px; /* Adds margin above the social links section */
}

.icon-link {
    color: black; /* Sets the icon color to black */
    font-size: 24px; /* Adjusts the size of the icons */
    margin: 0 15px; /* Adds horizontal spacing between icons */
    text-decoration: none; /* Removes underline from links */
    transition: color 0.3s ease; /* Smooth color transition for hover effect */
}

.icon-link:hover {
    color: #555; /* Dark grey color on hover for a subtle effect */
}

/* Responsive design adjustments */
@media (max-width: 992px) {
    .icon-link {
        font-size: 20px; /* Smaller icons on medium devices */
        margin: 0 10px; /* Smaller margin on medium devices */
    }
}

@media (max-width: 768px) {
    .social-links {
        padding: 15px 0; /* Slightly less padding on small devices */
    }
    .icon-link {
        font-size: 18px; /* Even smaller icons on small devices */
    }
}

@media (max-width: 576px) {
    .icon-link {
        font-size: 16px; /* Smallest icons on extra small devices */
        margin: 0 8px; /* Least margin on extra small devices */
    }
}


.contact-form {
    text-align: justify;
    margin-top: 20px;
    padding: 20px;
}

.contact-form input, .contact-form textarea {
    width: 90%; /* Responsive width */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button.form-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button.form-button:hover {
    background-color: #555;
}

/* Enhance responsiveness for the form inputs and textarea */
@media (max-width: 768px) {
    .contact-form input, .contact-form textarea {
        width: 100%; /* Full width on smaller screens */
    }
}


.coming-soon-container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}